# === БАЗА ДАННЫХ ===
DB_HOST=localhost
DB_NAME=fabrika
DB_USER=
DB_PASS=

# === TELEGRAM ===
BOT_TOKEN=
BOT_USERNAME=

# === PAPER SCROLL API ===
PAPER_SCROLL_TOKEN=
PAPER_SCROLL_SECRET=
PAPER_SCROLL_DEPOSIT_URL=https://t.me/Paper_Scroll_bot?start=deposit_63ddcea567e005f1
PAPER_SCROLL_API=https://paper-scroll.online/developer.php

# === САЙТ ===
SITE_URL=https://your-domain.com
DEBUG=false
